:root {
  box-sizing: border-box;
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
  margin: 0;
  padding: 0;
  /* border: 3px solid black; */
  font-family: "Roboto", var(--system-ui);
}
html {
  /* background-color: darkgray; */
  border: none;
  overflow: hidden;
}

body {
  height: 100vh;
  display: grid;
  grid-template:
    "nav header"
    "nav main-content";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
}

header {
  margin: 1.4rem 1rem 0 0;
  padding: 0 0 1rem 2rem;
  grid-area: header;
  display: grid;
  grid-template:
    "search notifications" 1fr
    "user   tools" 1fr /3fr 2fr;
  gap: 1rem;
  box-shadow: 2px 7px 4px -4px rgba(153, 153, 153, 0.44);
  width: 100%;
}

header > .search {
  grid-area: search;
  display: grid;
  grid-template-columns: auto 5fr;
  justify-items: left;
  align-items: center;
  gap: 1rem;
}

.search > input {
  height: 2rem;
  width: 90%;
  border: none;
  border-radius: 50px;
  background-color: rgb(233, 233, 233);
}
.search > label > img {
  align-self: center;
  justify-self: center;
  width: 1.8rem;
}

header > .notification {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  align-items: center;
  gap: 1rem;
}

.notification > #notification-bell {
  width: 1.8rem;
  justify-self: right;
}

.notification > #notification-user-image {
  width: 3rem;
  justify-self: center;
}

.notification > #notification-user-name {
  font-size: 1.2rem;
  font-weight: 700;
}

header > .user-info {
  display: grid;
  grid-template:
    "user-image welcome";
  grid-template-columns: auto 5fr;
  gap: 1rem;
}

.user-info > #main-user-image {
  width: 4rem;
  justify-self: center;
}

.welcome-message {
  grid-area: welcome;
  display: grid;
  grid-template-areas: 
    "welcome"
    "user-name";
  grid-template-rows: 1fr 2fr;
}

.welcome-message > #welcome-message {
  font-weight: 500;
}

.sidebar {
  grid-area: nav;
  display: grid;
  grid-template: 
    "logo" 1fr
    "cat-1" auto
    "cat-2" 4fr / 1fr;
  align-content: start;
  background-color: rgb(24, 136, 196);
  color: white;
}

.nav-link {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-items: center;
  color: white;
}

.nav-link.logo {
  padding: 0 0 1rem 0;
  grid-area: logo;
}

.nav-link.logo .icon {
  width: 4rem;
}

.nav-link.logo .title {
  font-size: 2rem;
  justify-self: left;
}

.cat-1,
.cat-2 {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-area: cat-1;
  align-content: start;
  gap: 1.4rem;
  padding: 0 0 3rem 0;
}

.cat-2 {
  grid-area: cat-2;
}

.nav-link.link {
  text-decoration: none;
}
.nav-link.link .icon {
  width: 1.8rem;
}

.nav-link.link .title {
  font-size: 1.6rem;
  justify-self: left;
}

.main-content {
  grid-area: main-content;
}
